*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
}
html,body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */
    background-image: url(https://images.pexels.com/photos/531767/pexels-photo-531767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
    cursor: pointer;
}

#nav h2 {
    font-size: 30px;
}

#nav i {
    font-size: 30px;
    font-weight: 800;
}

#full {
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.544);
    top: 0;
    right: -40%;
    /* filter: blur(30px); */
    backdrop-filter: blur(20px);
    padding: 100px 60px;
}

#full h4 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

#full i {
    position: absolute;
    top: 5%;
    right: 10%;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}